* {
    background-color:color-mix(in srgb, wheat 20%, green 10%);
    padding: 0;
    margin: 0;
    color:darkred;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 5px;
    padding: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 30px;
}

.container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul{
    display: flex;
}

a {
    text-decoration: none;
}

ul li{
    list-style: none;
}

.container ul li a {
    padding: 10px 20px;
    font-weight: 600;
    transition: 0.5s;
}

header, section, footer {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}


@media (max-width:600px) {
    header, section, footer {
        width: 100%;
        margin: 10px 0;
    }
}