* {
    background-color:wheat;
    color:black;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: white;
    margin: 20px;
    width: 100%;
}

.container .navbar {
    display: flex;
    justify-content: space-between;
    float: right;
}

.navbar ul li{
    text-decoration: none;
}

header, section, footer {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width:600px) {
    header, section, footer {
        width: 100%;
        margin: 10px 0;
    }
}